DB_NAME=nayon
DB_USERNAME=nayon
DB_PASSWORD=replace-with-db-password
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/replace-with-user-pool-id
COGNITO_JWK_SET_URI=https://cognito-idp.us-east-1.amazonaws.com/replace-with-user-pool-id/.well-known/jwks.json
COGNITO_CLIENT_ID=replace-with-client-id
NAYON_AUTH_PROVIDER=GOOGLE
