DB_URL=jdbc:postgresql://localhost:5432/nayon
DB_USERNAME=replace-with-db-user
DB_PASSWORD=replace-with-db-password
COGNITO_ISSUER_URI=https://cognito-idp.ap-northeast-2.amazonaws.com/replace-with-user-pool-id
COGNITO_JWK_SET_URI=https://cognito-idp.ap-northeast-2.amazonaws.com/replace-with-user-pool-id/.well-known/jwks.json
COGNITO_CLIENT_ID=replace-with-client-id
